* {
    box-sizing: border-box;
}

body {
    background: url('img/backdrop/oXsL6j.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(49, 121, 210, 0.7);
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 350px;
    text-align: center;
}

.profile {
    margin-bottom: 20px;
}

.profile-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid #ffffff;
    margin-bottom: 10px;
}

.name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    margin: 5px 0;
    font-weight: 200;
}

.bio {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #dddddd;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 800;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: #64acff;
    color: #ffffff;
    border-radius: 8px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background 0.3s, transform 0.3s;
}

.link img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.link span {
    flex: 1;
    text-align: center;
}

.link:hover {
    background-color: #297dd7;
    transform: translateY(-3px);
}

footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    font-size: 12px;
    color: #dddddd;
    font-weight: 800;
}